@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
      margin-top: 50rem;
    }
    #contact{
        margin-top: 25rem;
    }
    
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
      margin-top: -4rem;
      margin-bottom: 4rem;
    }
    #experience {
      margin-top: -10rem;
    }
    /* #profile,
    .section-container {
      display: block;
      margin-top: 25rem;
    } */
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: rem;
    }
    .about-containers {
      margin-top: 1rem;
    }
    #projects {
      height: fit-content;
      margin-top: 5rem;
    }
    #edhead{
      margin-top: -10rem;
    }

    #contact{
      margin-bottom: 10rem;
    }

    
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 5rem;
    }

    footer .nav-links-container{
        margin-top: 10rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0.5rem; /* Optional: Add some space between items */
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .contact-info-container p {
      margin-left: 0.5rem; /* Optional: Add some space between the icon and the text */
    }

    .contact-info-upper-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around; /* or space-between, depending on your preference */
      align-items: center;
    }

    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p1 {
      font-size: 1.25rem;
      margin-top: 22rem;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }

    #profile{
      margin-top: -10rem;
    }
    #contact{
      margin-top: 1rem;
    }
    #projects{
      margin-top: -20rem;
    }
    #about{
      margin-top: -17rem;
    }
  }
  